{% extends '_base.html' %}
{% load widget_tweaks %}

{% block title %}Signup{% endblock %}

{% block content %}
    <div class="authentication_main">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
{#            <label class="form_label" for="{{ form.username.id_for_label }}">نام کاربری:</label>#}
{#            {% render_field form.username class="form_box_label" placeholder="نام کاربری خود را وارد کنید" %}#}
{#            <label class="form_label" for="{{ form.email.id_for_label }}">ایمیل:</label>#}
{#            {% render_field form.email class="form_box_label" placeholder="ایمیل خود را وارد کنید" %}#}
{#            <label class="form_label" for="{{ form.password1.id_for_label }}">رمز عبور:</label>#}
{#            {% render_field form.password1 class="form_box_label" placeholder="رمز عبور خود را وارد کنید" %}#}
{#            <label class="form_label" for="{{ form.password2.id_for_label }}">تایید رمز عبور:</label>#}
{#            {% render_field form.password2 class="form_box_label" placeholder="رمز عبور خود را تایید کنید" %}#}
            <button class="login_button" type="submit">ارسال</button>
        </form>
        <p>اگر حساب کاربری دارید، از <a href="{% url 'login' %}" style="text-decoration: none; color: blue; font-size: 1.2em">اینجا</a> وارد شوید.</p>
    </div>
{% endblock %}

