{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load farsi_numbers_tags %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{% trans 'Password Change' %}{% endblock %}

{% block content %}
    <!-- Password Change banner -->
    <section class="page-title-area bg-image ptb--80" data-bg-image="files/img/bg/page_title_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="page-title">تغییر رمز</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Password Change banner -->

    <!-- Password Change -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80 ptb-md--60 pb-sm--55">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-pane">
                            <form action="" method="post" class="form form--account">
                                {% csrf_token %}
                                <fieldset class="form__fieldset mb--20">
                                    <div class="row mb--20">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="{{ form.old_password.id_for_label }}">رمز عبور فعلی</label>
                                                {% render_field form.old_password class="form__input" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb--20">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="{{ form.new_password1.id_for_label }}">رمز عبور جدید</label>
                                                {% render_field form.new_password1 class="form__input" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="{{ form.new_password2.id_for_label }}">تکرار رمز عبور جدید</label>
                                                {% render_field form.new_password2 class="form__input" %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form__group" style="text-align: center">
                                            <input type="submit" value="ذخیره تغییرات" class="btn btn-size-md" style="">
                                            <a href="{% url 'profile' %}"><button type="button" class="btn btn-size-md" style="">بازگشت به قبل</button></a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: Password Change -->
{% endblock %}

