{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load farsi_numbers_tags %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{% trans 'Password Success' %}{% endblock %}

{% block content %}
    <!-- Password Change Done banner -->
    <section class="page-title-area bg-image ptb--80" data-bg-image="files/img/bg/page_title_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="page-title">موفقیت در تغییر رمز ورود</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Password Change Done banner -->

    <!-- Password Change Done -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80 ptb-md--60 pb-sm--55">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-pane" style="text-align: center">
                            <div><span style="width: 100%; text-align: center">تغییر رمز با موفقیت انجام شد، برای ورود مجدد به حساب کاربری، روی لینک زیر کلیک کنید:</span></div>
                            <a href="{% url 'login' %}"><button class="btn btn-size-md" type="submit" style="margin-top: 1.2em;">ورود</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: Password Change Done -->
{% endblock %}

