{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load farsi_numbers_tags %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block content %}
    <!-- Profile banner -->
    <section class="page-title-area bg-image ptb--80" data-bg-image="files/img/bg/page_title_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="page-title">حساب کاربری</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Profile banner -->

    <!-- Profile -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80 ptb-md--60 pb-sm--55">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="user-dashboard-tab flex-column flex-md-row">
                            <div class="user-dashboard-tab__head nav flex-md-column" role="tablist" aria-orientation="vertical">
                                <button type="button" class="nav-link active" data-bs-toggle="tab" role="tab" data-bs-target="#dashboard" aria-controls="dashboard" aria-selected="true">داشبورد</button>
                                <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#personal-information" aria-controls="personal-information" aria-selected="true">{% trans 'Personal Information' %}</button>
                                <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#contact-information" aria-controls="contact-information" aria-selected="true">{% trans 'Contact Information' %}</button>
                                <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#auth-information" aria-controls="auth-information" aria-selected="true">{% trans 'Authentication Documents' %}</button>
                                <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#password-management" aria-controls="password-management" aria-selected="true">{% trans 'Password Management' %}</button>
                                <a type="button" class="nav-link" href="{% url 'logout' %}">خروج</a>
                            </div>
                            <div class="user-dashboard-tab__content tab-content">

                                <!-- Dashboard -->
                                <div class="tab-pane fade show active" id="dashboard">
                                    <p>سلام <strong>جلیل سرور</strong> (نه <strong>جلیل سرور</strong>؟ <a href="login-register.html">خروج</a>)</p>
                                    <p>از داشبورد حساب شما. به راحتی می توانید بررسی کنید &amp; خود را مشاهده کنید <a href="">سفارشات اخیر</a>, خود را مدیریت کنید<a href="">آدرس های حمل و نقل و صورتحساب</a> and <a href="">رمز عبور و جزئیات حساب خود را ویرایش کنید</a>.</p>
                                </div>
                                <!-- end: Dashboard -->

                                <!-- Personal Information -->
                                <div class="tab-pane fade" id="personal-information">

                                    <form action="" method="post" class="form form--account">
                                        {% csrf_token %}
                                        <div class="row mb--20">
                                            <div class="col-md-6 mb-sm--20">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ u_form.first_name.id_for_label }}">نام</label>
                                                    {% render_field u_form.first_name class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ u_form.last_name.id_for_label }}">نام خانوادگی</label>
                                                    {% render_field u_form.last_name class="form__input" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb--20">
                                            <div class="col-12">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ u_form.last_name.id_for_label }}">نام کاربری</label>
                                                    {% render_field u_form.last_name class="form__input" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb--20">
                                            <div class="col-md-6 mb-sm--20">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.sex.id_for_label }}">جنسیت</label>
                                                    {% render_field p_form.sex class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.birthday.id_for_label }}">تاریخ تولد</label>
                                                    {% render_field p_form.birthday class="form__input" %}
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-size-md" type="submit" style="margin-top: 1.2em; float: left;">ذخیره تغییرات</button>
                                    </form>

                                </div>
                                <!-- end: Personal Information -->

                                <!-- Contact Information -->
                                <div class="tab-pane fade" id="contact-information">

                                    <form action="" method="post" class="form form--account">
                                        {% csrf_token %}
                                        <div class="row mb--20">
                                            <div class="col-md-6 mb-sm--20">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.mobile_phone.id_for_label }}">شماره همراه</label>
                                                    {% render_field p_form.mobile_phone class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.home_phone.id_for_label }}">شماره ثابت</label>
                                                    {% render_field p_form.home_phone class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.pre_home_phone.id_for_label }}">کد شهر</label>
                                                    {% render_field p_form.pre_home_phone class="form__input" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb--20">
                                            <div class="col-12">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ u_form.email.id_for_label }}">آدرس ایمیل</label>
                                                    {% render_field u_form.email class="form__input" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb--20">
                                            <div class="col-md-3 mb-sm--20">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.country.id_for_label }}">کشور</label>
                                                    {% render_field p_form.country class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.province.id_for_label }}">استان</label>
                                                    {% render_field p_form.province class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.city.id_for_label }}">شهر</label>
                                                    {% render_field p_form.city class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.postal_code.id_for_label }}">کد پستی</label>
                                                    {% render_field p_form.postal_code class="form__input" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb--20">
                                            <div class="col-12">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.address.id_for_label }}">نشانی</label>
                                                    {% render_field p_form.address class="form__input" %}
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-size-md" type="submit" style="margin-top: 1.2em; float: left;">ذخیره تغییرات</button>
                                    </form>

                                </div>
                                <!-- end: Contact Information -->

                                <!-- Authentication Documents -->
                                <div class="tab-pane fade" id="auth-information">

                                    <form action="" method="post" class="form form--account">
                                        {% csrf_token %}
                                        <div class="row mb--20">
                                            <div class="col-md-4 mb-sm--20">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.national_card.id_for_label }}">تصویر کارت ملی</label>
                                                    {% render_field p_form.national_card class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.bank_card.id_for_label }}">تصویر کارت بانکی</label>
                                                    {% render_field p_form.bank_card class="form__input" %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form__group">
                                                    <label class="form__label" for="{{ p_form.auth_picture.id_for_label }}">تصویر احراز هویت</label>
                                                    {% render_field p_form.auth_picture class="form__input" %}
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-size-md" type="submit" style="margin-top: 1.2em; float: left;">ذخیره تغییرات</button>
                                    </form>

                                </div>
                                <!-- end: Authentication Documents -->

                                <!-- Password Management -->
                                <div class="tab-pane fade" id="password-management" style="text-align: center">
                                    <div><span style="width: 100%; text-align: center">برای تغییر رمز خود، روی دکمه زیر کلیک کنید:</span></div>
                                    <a href="{% url 'password_change' %}"><button class="btn btn-size-md" type="submit" style="margin-top: 1.2em;">تغییر رمز</button></a>
                                </div>
                                <!-- end: Password Management -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: Profile -->
{% endblock %}


