{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load farsi_numbers_tags %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{{ case.title }}{% endblock %}

{% block content %}

     <!-- Case detail >>> top ribbon -->
    <section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'img/bg/page_title_bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="page-title">{% trans 'Details of the project' %} "{{ case.title|farsi_number }}"</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End: Case detail >>> top ribbon -->

    <!-- Case detail >>> main -->
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--80 pt-md--60">
            <div class="container">
                <div class="row g-0 mb--75 mb-md--57">

                    <!-- Case detail >>> cover -->
                    <div class="col-lg-7 product-main-image">
                        <div class="product-image">
                            <div class="product-gallery">
                                <div class="product-gallery__large-image" style="direction: ltr">
                                    <div class="product-gallery__wrapper">
                                        <div class="row gutter-10">
                                            <div class="col-12 mb--10">
                                                <figure class="product-gallery__image">
                                                    <img src="{{ case.cover.url }}" alt="Product">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if case.status == 'a' %}
                                    <span class="product-badge sale" style="font-size: 1.5em; padding: 0 30px; background-color: #4cae4c">{{ case.get_status_display }}</span>
                                {% elif case.status == 's' %}
                                    <span class="product-badge sale" style="font-size: 1.5em; padding: 0 30px;">{{ case.get_status_display }}</span>
                                {% else %}
                                    <span class="product-badge sale" style="font-size: 1.5em; padding: 0 30px; background-color: #e6e346">{{ case.get_status_display }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- End: Case detail >>> cover -->

                    <div class="col-xl-4 offset-xl-1 col-lg-5 product-main-details mt-md--40" id="sticky-sidebar" style="padding-right: 0.6em">
                        <div class="product-summary pl-lg--30 pl-md--0">

                            <!-- Case detail >>> data -->
                            <h1 class="product-title mb--70" style="font-weight: bolder">{{ case.title|farsi_number }}</h1>
                            <div class="product-price-wrapper mb--25">
                                <span class="money" style="font-size: 1.3em">{% trans 'Min of investment' %}: {{ case.base_value|intcomma:False|farsi_number }} {% trans 'tooman' %}</span>
                            </div>
                            <div class="product-price-wrapper mb--25">
                                <span class="money" style="font-size: 1.1em">{% trans 'Maker' %}: {{ case.maker }}</span>
                            </div>
                            <div class="product-price-wrapper mb--25">
                                <span class="money" style="font-size: 1.1em">{% trans 'Position' %}: {{ case.city }} - {{ case.region }}</span>
                            </div>
                            {% if case.buy_assurance == True %}
                                <div class="product-price-wrapper mb--25">
                                    <span class="money" style="font-size: 1.1em">{% trans 'Buy assurance' %}: <span style="color: #28a03a;">{% trans 'have' %}</span></span>
                                </div>
                            {% else %}
                                <div class="product-price-wrapper mb--25">
                                    <span class="money" style="font-size: 1.1em">{% trans 'Buy assurance' %}: {% trans 'do not have' %}</span>
                                </div>
                            {% endif %}
                            {% if case.guaranteed_gain == True %}
                            <div class="product-price-wrapper mb--25">
                                <span class="money" style="font-size: 1.1em">{% trans 'Maker' %}: {{ case.maker }}</span>
                            </div>
                            {% else %}
                            <div class="product-price-wrapper mb--25">
                                <span class="money" style="font-size: 1.1em">{% trans 'Guaranteed gain percent' %}: {% trans 'do not have' %}</span>
                            </div>
                            {% endif %}
                            <div class="product-price-wrapper mb--25">
                                <span class="money" style="font-size: 1.1em; margin-bottom: 2em">{% trans 'End time' %}: {{ case.end_time|farsi_number }}</span>
                            </div>
                            <!-- End: Case detail >>> data -->


                            <!-- Case detail >>> add form -->
                            <div class="product-action d-flex flex-sm-row align-items-sm-center flex-column align-items-start mb--30">
                                <div class="quantity-wrapper d-flex align-items-center mr--30 mr-xs--0 mb-xs--30">

                                    <form action="{% url 'cart_add' case.id %}" method="post">
                                        {% csrf_token %}
                                        <label class="quantity-label" style="margin-bottom: 1em; font-size: 1em" for="{{ add_to_cart_form.meter.id_for_label }}">متراژ انتخابی:</label>
                                        <div style="border: #373737 0.05em solid; line-height: 1.7em">
                                            {% render_field add_to_cart_form.meter class="quantity-input" type="number" value="1" min="1" %}
{#                                            <input type="number" class="quantity-input" name="qty" id="qty" value="1" min="1">#}
                                        </div>
                                        <button type="submit" class="btn btn-shape-square btn-size-sm" style="margin-top: 1.75em">
                                            افزودن به سبد خرید
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <!-- End: Case detail >>> tags -->
{#                            <div class="product-footer-meta">#}
{#                                <p><span>دسته بندی:</span>#}
{#                                    <a href="shop.html">ژاکت کامل</a>,#}
{#                                    <a href="shop.html">سویی شرت</a>,#}
{#                                    <a href="shop.html">ژاکت</a>,#}
{#                                    <a href="shop.html">بلیزر</a>#}
{#                                </p>#}
{#                            </div>#}
                            <!-- End: Case detail >>> tags -->

                        </div>
                    </div>
                </div>


                <!-- Case detail >>> description & shit -->
                <div class="row justify-content-center mb--77 mb-md--57">
                    <div class="col-12">
                        <div class="tab-style-2">
                            <div class="nav nav-tabs mb--35 mb-sm--25" id="product-tab" role="tablist">
                                <button type="button" class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" role="tab" aria-selected="true">
                                    <span>{% trans 'Description' %}</span>
                                </button>
                                <button type="button" class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" role="tab" aria-selected="true">
                                    <span>{% trans 'Extra Data' %}</span>
                                </button>
                            </div>
                            <div class="tab-content" id="product-tabContent">
                                <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                                    <div class="product-description">
                                        <p style="line-height: 2em; text-align: justify">{{ case.description }}</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                                    <div class="table-content table-responsive">
{#                                        <p>SOMETHING</p>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Case detail >>> description & shit -->

            </div>
        </div>
    </div>
    <!-- End: Case detail >>> main -->

{% endblock %}
