{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load farsi_numbers_tags %}
{% load humanize %}


{% block title %}Home{% endblock %}

{% block content %}

    <!-- ************************* Top Image ************************* -->
    <section class="c-layout-revo-slider c-layout-revo-slider-11" dir="ltr">
        <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile c-arrow-darken" data-bullets-pos="center">
            <div class="tp-banner rev_slider" data-version="5.0">
                <ul>
                    <!--BEGIN: SLIDE #2 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img
                            alt=""
                            src="{% static 'assets/base/img/bg/bg-90.jpg' %}"
                            data-bgposition="center center"
                            data-bgfit="cover"
                            data-bgrepeat="no-repeat"
                            >
                        <div class="tp-caption customin customout"
                            data-x="center"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="-50"
                            data-speed="500"
                            data-start="1000"
                            data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                            data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"

                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            data-endspeed="600">
                            <h3 class="c-main-title c-font-48 c-font-bold c-font-center c-font-uppercase c-font-dark c-block">
                                {% trans 'The greatest opportunities' %}<br>{% trans 'for investment in real state with the lowest money' %}
                            </h3>
                        </div>
                        <div class="tp-caption lft"
                            data-x="center"
                            data-y="center"
                            data-voffset="130"
                            data-speed="900"
                            data-start="2000"
                             data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Expo.easeInOut;"
                            data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Expo.easeInOut;" >
                            <a href="#" class="c-action-btn btn btn-xlg c-btn-border-2x c-btn-square c-btn-dark c-btn-bold c-btn-uppercase">{% trans 'Start' %}</a>
                        </div>
                    </li>
                    <!--END -->
                </ul>
            </div>
        </div>
    </section>
    <!-- ************************* Top Image ************************* -->

    <!-- ************************* Cases at Homepage ************************* -->
    <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(../../assets/base/img/content/backgrounds/bg-87.jpg)">
        <div class="container">
            <div class="c-content-feature-9">

                <!-- Title of the projects -->
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-center c-font-bold">{% trans 'Opportunities for Investment' %}</h3>
                    <div class="c-line-center c-theme-bg"></div>
                    <p class="c-font-center">{% trans 'You can choose your project here to invest!' %}</p>
                </div>
                <!-- end of Title of the projects -->

                <div class="row">

                    <!-- Case list -->
                    {% for case in cases %}
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white">

                                <!-- Case image shit -->
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">{{ case.get_status_display }}</div>
                                    <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">{{ case.get_status_display }}</div>

                                    <!-- Hover -->
{#                                    <div class="c-overlay-wrapper">#}
{#                                        <div class="c-overlay-content">#}
{#                                            <a href="{{ case.cover.url }}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">مشاهده</a>#}
{#                                        </div>#}
{#                                    </div>#}
                                     <!-- end of Hover -->

                                    <a href="{{ case.get_absolute_url }}"><div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 330px; background-image: url({{ case.cover.url }});"></div></a>
                                </div>
                                <!-- end of Case image shit -->

                                <!-- Case data shit -->
                                <div class="c-info">
                                    <h3 class="c-title c-font-18 c-font-slim" style="margin-bottom: 1.6em;"><a href="{{ case.get_absolute_url }}">{{ case.title|farsi_number }}</a></h3>
                                    <p class="c-price c-font-12 c-font-slim" style="margin-bottom: 1.2em;">{% trans 'Maker' %}: {{ case.maker }}</p>
                                    <p class="c-price c-font-12 c-font-slim" style="margin-bottom: 1.2em;">{% trans 'Position' %}: {{ case.city }} - {{ case.region }}</p>
                                    <p class="c-price c-font-12 c-font-slim" style="margin-bottom: 1.2em;">{% trans 'Min of investment' %}: {{ case.base_value|intcomma:False|farsi_number }} {% trans 'tooman' %}</p>
                                    {% if case.guaranteed_gain == True %}
                                        <p class="c-price c-font-12 c-font-slim" style="margin-bottom: 1.2em;">{% trans 'Guaranteed gain percent' %}: <span style="color: #28a03a; font-size: 1.2em">{{ case.guaranteed_gain_percent|farsi_number }}</span></p>
                                    {% else %}
                                        <p class="c-price c-font-12 c-font-slim" style="margin-bottom: 1.2em;">{% trans 'Guaranteed gain percent' %}: {% trans 'do not have' %}</p>
                                    {% endif %}
                                    <p class="c-price c-font-12 c-font-slim" style="margin-bottom: 1.2em;">{% trans 'End time' %}: {{ case.end_time|farsi_number }}</p>
                                </div>
                                <!-- end of Case data shit -->

                                <!-- Case links -->
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="{{ case.get_absolute_url }}" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">{% trans 'See Project' %}</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="{% url 'case_list' %}" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">{% trans 'Add to List' %}</a>
                                    </div>
                                </div>
                                <!-- end of Case links -->

                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of Case list -->

                </div>
            </div>
        </div>
    </div>
    <!-- ************************* End: Cases at Homepage ************************* -->


{% endblock %}
