{% load i18n %}
{% load static %}

<!doctype html>
<html  class="no-js" lang="">

<head>
    <!-- ************************* Meta tags ************************* -->
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta content="" name="description"/>
	<meta content="" name="author"/>

    <!-- ************************* Favicons ************************* -->
    <link rel="shortcut icon" href="{% static 'assets/fav/favicon.ico' %}"/>

    <!-- ************************* CSS Files ************************* -->
	<link href="{% static 'assets/plugins/socicon/socicon.css' %}" type="text/css"/>
	<link href="{% static 'assets/plugins/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/animate/animate.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'assets/plugins/revo-slider/css/settings.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/revo-slider/css/layers.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/revo-slider/css/navigation.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/slider-for-bootstrap/css/slider.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'assets/demos/default/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/demos/default/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/demos/default/css/themes/default-rtl.css' %}" rel="stylesheet" id="style_theme" type="text/css"/>
{#	<link href="{% static 'assets/demos/default/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>#}
    <!-- ************************* End of CSS Files ************************* -->

    <title>{% block title %}{% endblock %}</title>

</head>

<body dir='rtl' class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen">

    <!-- ************************* Header ************************* -->
    <header class="c-layout-header c-layout-header-4 c-bordered c-layout-header-default-mobile c-header-transparent-dark" data-minimize-offset="80">
        <div class="c-navbar">
            <div class="container">
                <div class="c-navbar-wrapper clearfix">

                    <!-- Logo -->
                    <div class="c-brand c-pull-left">
                        <a href="{% url 'case_list' %}" class="c-logo">
                            <img src="{% static 'assets/base/img/logo/logo-3.png' %}" alt="JANGO" class="c-desktop-logo">
                            <img src="{% static 'assets/base/img/logo/logo-3.png' %}" alt="JANGO" class="c-desktop-logo-inverse">
                            <img src="{% static 'assets/base/img/logo/logo-3.png' %}" alt="JANGO" class="c-mobile-logo">
                        </a>

                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        </button>

                        <button class="c-topbar-toggler" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>

                        <button class="c-search-toggler" type="button">
                            <i class="fa fa-search"></i>
                        </button>

                        <button class="c-cart-toggler" type="button">
                            <i class="icon-handbag"></i> <span class="c-cart-number c-theme-bg">2</span>
                        </button>
                    </div>
                    <!-- end Logo -->

                    <!-- Quick Search -->
                    <form class="c-quick-search" action="#">
                        <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                        <span class="c-theme-link">&times;</span>
                    </form>
                    <!-- end Quick Search -->

                    <!-- Menu -->
                    <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                        <ul class="nav navbar-nav c-theme-nav">
                            <!-- Menu Items -->
                            <li class="c-active">
                                <a href="javascript:;" class="c-link dropdown-toggle">{% trans 'Homepage' %}<span class="c-arrow c-toggler"></span></a>
                            </li>
                            <li class="c-menu-type-classic">
                                <a href="javascript:;" class="c-link dropdown-toggle">{% trans 'Projects' %}<span class="c-arrow c-toggler"></span></a>
                                <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                    <li class="dropdown-submenu">
                                        <a href="javascript:;">پروژه میرداماد<span class="c-arrow c-toggler"></span></a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#">پروژه ونک<span class="c-arrow c-toggler"></span></a>
                                        <ul class="dropdown-menu c-pull-right">
                                            <li>
                                                <a href="sidebar-menu-1.html">پروژه ونک</a>
                                            </li>
                                            <li>
                                                <a href="sidebar-menu-1.html">پروژه ونک</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:;">پروژه تجریش<span class="c-arrow c-toggler"></span></a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:;">پروژه تجریش<span class="c-arrow c-toggler"></span></a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" class="c-link dropdown-toggle">{% trans 'Services' %}<span class="c-arrow c-toggler"></span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="c-link dropdown-toggle">{% trans 'Blog' %}<span class="c-arrow c-toggler"></span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="c-link dropdown-toggle">{% trans 'FAQ' %}<span class="c-arrow c-toggler"></span></a>
                            </li>
                            <!-- end Menu Items -->

                            <!-- Search -->
                            <li class="c-search-toggler-wrapper">
                                <a href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
                            </li>
                            <!-- end Search -->

                            <!-- Cart -->
                            <li class="c-cart-toggler-wrapper">
                                <a  href="#" class="c-btn-icon c-cart-toggler"><i class="icon-handbag c-cart-icon"></i> <span class="c-cart-number c-theme-bg">2</span></a>
                            </li>
                            <!-- end Cart -->

                            <!-- Login -->
                            <li>
                                <a href="#" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i> ورود</a>
                            </li>
                            <!-- end Login -->

                        </ul>
                    </nav>
                    <!-- end Menu -->
                </div>

                <!-- Quick Cart -->
                <div class="c-cart-menu">
                    <div class="c-cart-menu-title">
                        <p class="c-cart-menu-float-l c-font-sbold">2 item(s)</p>
                        <p class="c-cart-menu-float-r c-theme-font c-font-sbold">$79.00</p>
                    </div>
                    <ul class="c-cart-menu-items">
                        <li>
                            <div class="c-cart-menu-close">
                                <a href="#" class="c-theme-link">×</a>
                            </div>
                            <img src="../../assets/base/img/content/shop2/24.jpg"/>
                            <div class="c-cart-menu-content">
                                <p>1 x <span class="c-item-price c-theme-font">$30</span></p>
                                <a href="shop-product-details-2.html" class="c-item-name c-font-sbold">لباس زمستانی</a>
                            </div>
                        </li>
                        <li>
                            <div class="c-cart-menu-close">
                                <a href="#" class="c-theme-link">×</a>
                            </div>
                            <img src="../../assets/base/img/content/shop2/12.jpg"/>
                            <div class="c-cart-menu-content">
                                <p>1 x <span class="c-item-price c-theme-font">$30</span></p>
                                <a href="shop-product-details.html" class="c-item-name c-font-sbold">لباس ورزشی</a>
                            </div>
                        </li>
                    </ul>
                    <div class="c-cart-menu-footer">
                        <a href="shop-cart.html" class="btn btn-md c-btn c-btn-square c-btn-grey-3 c-font-white c-font-bold c-center c-font-uppercase">مشاهده کارت</a>
                        <a href="shop-checkout.html" class="btn btn-md c-btn c-btn-square c-theme-btn c-font-white c-font-bold c-center c-font-uppercase">بررسی</a>
                    </div>
                </div>
                <!-- end Quick Cart -->

            </div>
        </div>
    </header>
    <!-- ************************* End of Header ************************* -->



    <!-- ************************* Container ************************* -->
    <div class="c-layout-page">
        {% block content %}

        {% endblock %}
    </div>
    <!-- ************************* End of Container ************************* -->





    <!-- ************************* JS ************************* -->
    <!--[if lt IE 9]>
{#    <script src="{% static 'assets/global/plugins/excanvas.min.js' %}"></script>#}
    <![endif]-->

    <script src="{% static 'assets/plugins/jquery.min.js' %}" type="text/javascript" ></script>
    <script src="{% static 'assets/plugins/jquery-migrate.min.js' %}" type="text/javascript" ></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript" ></script>
    <script src="{% static 'assets/plugins/jquery.easing.min.js' %}" type="text/javascript" ></script>
    <script src="{% static 'assets/plugins/reveal-animate/wow.js' %}" type="text/javascript" ></script>
    <script src="{% static 'assets/demos/default/js/scripts/reveal-animate/reveal-animate.js' %}" type="text/javascript" ></script>
    <!-- END: CORE PLUGINS -->

    <!-- BEGIN: LAYOUT PLUGINS -->
    <script src="{% static 'assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.video.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/fancybox/jquery.fancybox.pack.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/smooth-scroll/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/typed/typed.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/js-cookie/js.cookie.js' %}" type="text/javascript"></script>
    <!-- END: LAYOUT PLUGINS -->

    <!-- BEGIN: THEME SCRIPTS -->
    <script src="{% static 'assets/base/js/components.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/base/js/components-shop.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/base/js/app.js' %}" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        App.init(); // init core
    });
    </script>
    <!-- END: THEME SCRIPTS -->

    <!-- BEGIN: PAGE SCRIPTS -->
    <script>
        $(document).ready(function() {
        var slider = $('.c-layout-revo-slider .tp-banner');

        var cont = $('.c-layout-revo-slider .tp-banner-container');

        var api = slider.show().revolution({
            sliderType:"standard",
            sliderLayout:"fullscreen",
            responsiveLevels:[2048,1024,778,320],
            gridwidth: [1240, 1024, 778, 320],
            gridheight: [868, 768, 960, 720],
            delay: 15000,
            startwidth:1170,
            startheight: App.getViewPort().height,

            navigationType: "hide",
            navigationArrows: "solo",

            touchenabled: "on",
            navigation: {
                keyboardNavigation:"off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                onHoverStop:"on",
                arrows: {
                    style:"circle",
                    enable:true,
                    hide_onmobile:false,
                    hide_onleave:false,
                    tmp:'',
                    left: {
                        h_align:"left",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                    },
                    right: {
                        h_align:"right",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                    }
                }
            },

            spinner: "spinner2",

            fullScreenOffsetContainer: '.c-layout-header',

            shadow: 0,

            disableProgressBar:"on",

            hideThumbsOnMobile: "on",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "on",
            hideArrowsOnMobile: "on",
            hideThumbsUnderResolution: 0
            });
        }); //ready
    </script>
    <!-- END: PAGE SCRIPTS -->
    <!-- END: LAYOUT/BASE/BOTTOM -->
    <!-- ************************* JS ************************* -->

</body>
</html>




